
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="gallery">
    <div style="background-color:lightpink">
        <div style="color:ghostwhite">
            <h6>Image 1</h6>
            <div class="gallery">
                <img src="~/ImageFolder/Katrina Kaif 3.jpg" width="250" height="250" />
            </div>

        </div>
    </div>
</div>

<div class="gallery">
    <div style="background-color:lightpink">
        <div style="color:ghostwhite">
            <h6>Image 2</h6>
            <div class="gallery">
                <img src="~/ImageFolder/Katrina Kaif 2.jpg" />
            </div>
        </div>
    </div>
</div>

<div class="gallery">
    <div style="background-color:lightpink">
        <div style="color:ghostwhite">
            <h6>
                Image 3
            </h6>
            <img src="~/ImageFolder/Katrina Kaif 4.jpg" width="200" height="200" />
        </div>
    </div>
</div>

<div class="gallery">
    <div style="background-color:lightpink">
        <div style="color:ghostwhite">
            <h6>Image 4</h6>
            <img src="~/ImageFolder/Bang Bang 3.jpg" width="200" height="200" />
        </div>
    </div>
</div>


